@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>


<html lang="zxx" class="no-js">


    <!-- Start quote Area -->
    <section class="quote-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 quote-left">
                    <h2 class="text-right">
                        <span>Movie trivia</span> will test your memory,<br>
                        from <span>classics</span> to<span>new age</span>and <span>comedy to horror</span>  <span>Every kind of movie lover </span>, can enjoy theses movie trivia questions<br>
                         .
                    </h2>
                </div>
                <div class="col-lg-6 col-sm-12 quote-right">
                    <p class="text-left">
                      
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
            </div>
        </div>
       
    </section>
    <!-- End quote Area -->
    <!-- Start feature Area -->
    <section class="feature-area pb-100" id="feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 no-padding single-img">
                    <img src="~/Content/img/f1.jpg" class="image img-fluid">
                    <div class="middle">
                        <a href="https://www.hindustantimes.com/bollywood/kuch-kuch-hota-hai-event-highlights-shah-rukh-khan-thought-film-s-script-was-utterly-nonsense/story-Q5Nz3h5IZ6imgw71saRt1J.html">
                            <h2 class="text-uppercase text-white">Kuch Kuch Hota Hai celebrates 20 years</h2>
                            <p class="text-uppercase text-white" `>Kuch Kuch Hota Hai event</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 no-padding single-img">
                    <img src="~/Content/img/f2.jpg" class="image img-fluid">
                    <div class="middle">
                        <a href="https://www.iol.co.za/lifestyle/health/duchess-meghan-prince-harry-plan-to-avoid-zika-risk-in-fuji-and-tonga-17498448">
                            <h2 class="text-uppercase text-white">Duchess Meghan and Prince Harry</h2>
                            <p class="text-uppercase text-white" `>plan to avoid Zika risk in Fuji and Tonga</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 no-padding single-img">
                    <img src="~/Content/img/f3.jpg" class="image img-fluid">
                    <div class="middle">
                        <a href="https://economictimes.indiatimes.com/magazines/panache/priyanka-nick-all-set-for-a-big-fat-indian-wedding-in-jodhpur-this-november/articleshow/66215541.cms">
                            <h2 class="text-uppercase text-white">Priyanka and Nick</h2>
                            <p class="text-uppercase text-white"`>Priyanka, Nick all set for big, fat, Indian wedding in Jodhpur this November</p>
                        </a>
</div>
                </div>
                <div class="col-lg-6 col-sm-12 no-padding single-img">
                    <img src="~/Content/img/f4.jpg" class="image img-fluid">
                    <div class="middle2">
                        <a href="https://www.youtube.com/watch?v=89aTDByJTz4" class="play-btn">
                            <img class="vdo-icon" src="~/Content/img/video-btn.png" alt="">
                        </a>
                        <h2 class="text-uppercase text-white">Trailer of Zero</h2>
                        <p>Youtube video will appear in popover</p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 no-padding single-img">
                    <img src="~/Content/img/f5.jpg" class="image img-fluid">
                    <div class="middle2">
                        <a href="https://www.youtube.com/watch?v=YsVo5necW6Q" class="play-btn">
                            <img class="vdo-icon" src="~/Content/img/video-btn.png" alt="">
                        </a>
                        <h2 class="text-uppercase text-white">Trailer of Second Act</h2>
                        <p>Youtube video will appear in popover</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End feature Area -->
    <!-- Start service Area -->
    <section class="service-area pt-100 pb-100" data-parallax="scroll" data-image-src="~/Content/img/service-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-service d-flex justify-content-between align-items-top">
                        <div class="icon">
                            <img src="~/Content/img/s1.png" alt="">
                        </div>
                        <div class="desc">
                            <h4 class="text-uppercase">Celeb Gossip</h4>
                            <p>
                                Usage of the Internet is becoming more common due to rapid advancement of technology and the power of globalization.
                            </p>
                        </div>
                    </div>
                    <div class="single-service d-flex justify-content-between align-items-top">
                        <div class="icon">
                            <img src="~/Content/img/s2.png" alt="">
                        </div>
                        <div class="desc">
                            <h4 class="text-uppercase">Concert and Awards</h4>
                            <p>
                                Usage of the Internet is becoming more common due to rapid advancement of technology and the power of globalization.
                            </p>
                        </div>
                    </div>
                    <div class="single-service d-flex justify-content-between align-items-top">
                        <div class="icon">
                            <img src="~/Content/img/s3.png" alt="">
                        </div>
                        <div class="desc">
                            <h4 class="text-uppercase">playing Music Videos and Trailers</h4>
                            <p>
                                Usage of the Internet is becoming more common due to rapid advancement of technology and the power of globalization.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End service Area -->
    <!-- Start member Area -->
    <section class="member-area relative pt-100 pb-100">
        <div class="overlay overlay-bg"></div>
        <div class="container relative">
           
            <div class="row justify-content-center">
                <div class="active-member-carousel">
                    <div class="single-member item">
                        <div class="member-info d-flex flex-row justify-content-center">
                            <img class="" style="width:100px;height: 100%;" src="~/Content/img/m1.jpg" alt="">
                            <div class="details">
                                <h4 class="text-white text-uppercase">Divya Dhaya</h4>
                                <p>Movie Trivia Member</p>
                                <p>Date of Birth: 31st Dec, 1989</p>
                            </div>
                        </div>
                        <p class="summery">
                            Usage of the Internet is becoming more common due to rapid advancement of technology and the power of globalization. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                    <div class="single-member item">
                        <div class="member-info d-flex flex-row justify-content-center">
                            <img class="" style="width:100px;height: 100%;" src="~/Content/img/m1.jpg" alt="">
                            <div class="details">
                                <h4 class="text-white text-uppercase">Divya Dhaya</h4>
                                <p>Movie Trivia Member</p>
                                <p>Date of Birth: 31st Dec, 1989</p>
                            </div>
                        </div>
                        <p class="summery">
                            Usage of the Internet is becoming more common due to rapid advancement of technology and the power of globalization. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>







                </div>

            </div>
          
                <div class="next-trigger"><span class="lnr lnr-arrow-left"></span></div>
         
            
                <div class="prev-trigger"><span class="lnr lnr-arrow-right"></span></div>
         
        </div>
        
    </section>
    <!-- End member Area -->
    <!-- Start About Area -->
    <section class="about-area" id="about">
        <div class="container-fluid">
            <div class="row  d-flex justify-content-start align-items-center">
                <div class="col-lg-6 col-md-12 no-padding">
                    <img class="img-fluid" src="~/Content/img/about-img.png" alt="">
                </div>
                <div class="about-details col-lg-4 col-md-12">
                    <h2>
                        <span>Movie trivia</span> will test your memory,<br>
                        from <span>classics</span> to<span>new age</span>and <span>comedy to horror</span>  <span>Every kind of movie lover </span>, can enjoy theses movie trivia questions<br>
                    </h2>
                    <p class="text-white">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Area -->
    <!-- Start contact Area -->
    <section class="contact-area pt-100 pb-100" id="contact">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 title-section">
                    <h2 class="text-uppercase">
                        Send <br>
                        Us <br>
                        Message
                    </h2>
                    <p>
                        We won’t send any kind of spam
                    </p>
                </div>
                <div class="col-lg-8">
                    <form id="myForm" action="mail.php" method="post" class="contact-form">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <input name="fname" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mt-20" required="" type="text">
                                <input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mt-20" required="" type="email">
                                <input name="phone" placeholder="Enter phone number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter phone number'" class="common-input mt-20" required="" type="tel">
                            </div>
                            <div class="col-lg-6">
                                <textarea class="common-textarea mt-20" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                                <button class="primary-btn d-inline-flex align-items-center mt-20"><span class="mr-10">Send Message</span><span class="lnr lnr-arrow-right"></span></button> <br>
                                <div class="alert-msg"></div>
                            </div>
                        </div>s
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End contact Area -->
    

<script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>



<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/owl.carousel.min.js"></script>
<script src="~/Scripts/jquery.sticky.js"></script>
<script src="~/Scripts/parallax.min.js"></script>
<script src="~/Scripts/jquery.magnific-popup.min.js"></script>
<script src="~/Scripts/main.js"></script>

<style>

    .member-area {
  text-align: center;
  color: #fff;
  background: url(../Content/img/member-bg.jpg) no-repeat center center/cover;
}

.member-area .overlay-bg {
  opacity: .8;

  .member-area .next-trigger, .member-area .prev-trigger {
  width: 40px;
  background: transparent;
  border: 1px solid #eee;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.member-area .next-trigger span, .member-area .prev-trigger span {
  line-height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 600;
}

.member-area .next-trigger:hover, .member-area .prev-trigger:hover {
  background: #fff;
  border: 1px solid #fff;
}

.member-area .next-trigger:hover span, .member-area .prev-trigger:hover span {
  color: #000;
}

.member-area .prev-trigger {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -40px;
}


}
</style>
</body>

</html>



